/* static/css/styles.css */
body {
    font-family: Roboto, sans-serif;
    line-height: 1.6;
    margin: 22px;
    padding: 0;
    color: rgba(60, 179, 113, 0.8)
}

h1 {
    color: rgba(60, 179, 113, 0.8)
}

form {
    margin: 20px;
    color: rgba(60, 179, 113, 1)
}

.errors {
    color: red;
}

dif {
	background: rgba(0, 128, 0, 0.3)
}
