{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Baradero te informa{% endblock %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!-- Cabecera con logo y título -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <!-- Logo -->
                <img src="{% static 'images/nestor1.png' %}" alt="Logo" width="50" height="50" class="d-inline-block align-top">
                Baradero te Informa
            </a>
            <h5><small>Toda la información, en todo momento</small></h5>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <!-- Menú de categorías -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% for categoria in categorias %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'noticias:categoria' categoria.slug %}">{{ categoria.nombre }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        {% block content %}
        {% endblock %}
    </div>

      <!-- Footer -->
    <footer class="bg-dark text-white mt-5">
        <div class="container py-4">
            <div class="row">
                <div class="col-md-6">
                    <h5>Nube de Publicaciones</h5>
                    <div class="tag-cloud">
                        {% for tag in tags %}
                            <a href="{% url 'noticias:tag' tag.slug %}" class="badge bg-secondary">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6 text-md-end">
                    <p>&copy; {{ current_year }} Mi Sitio de Noticias. Todos los derechos reservados.</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>

