{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias por Categoría</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <img src="{% static 'img/cris1.jpg' %}" alt="Logo">
	<h1>Noticias por Categoría</h1>
    <nav>
        <a href="{% url 'noticias:listar_noticias' %}">Listar Noticias</a>
    </nav>

    {% for categoria in categorias %}
        <h2 id="{{ categoria.slug }}">{{ categoria.nombre }}</h2>
        {% for noticia in categoria.noticia_set.all %}
            <article>
                <h3>{{ noticia.titulo }}</h3>
                <p>{{ noticia.resumen }}</p>
                <div>{{ noticia.contenido|safe }}</div>
            </article>
        {% empty %}
            <p>No hay noticias en esta categoría.</p>
        {% endfor %}
    {% endfor %}
</body>
</html>

