{% extends 'noticias/base.html' %}

{% block content %}
<div class="container" style="margin-top: 60px;">
    <div class="row">
        <!-- Columna Principal -->
        <div class="col-md-8">
            <h1>Noticias</h1>
            <div class="noticias">
                {% for noticia in noticias %}
                    <div class="noticia">
                        <h2>{{ noticia.titulo }}</h2>
                        <p>{{ noticia.resumen }}</p>
                        <p><strong>Categoría:</strong> {{ noticia.categoria.nombre }}</p>
                        <p><strong>Fecha de creación:</strong> {{ noticia.fecha_creacion }}</p>
			<p><strong>Autor:</strong> {{ noticia.nombre_usuario }} {{ noticia.apellido_usuario }}</p>
                        <a href="{% url 'noticias:detalle_noticia' noticia.id %}">Leer más</a>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Columna de Sinopsis de Últimas Noticias -->
        <div class="col-md-4">
            <h2>Últimas Noticias</h2>
            {% for noticia in ultimas_noticias %}
                <div class="ultima-noticia">
                    <h4>{{ noticia.titulo }}</h4>
                    <p><small>{{ noticia.fecha_creacion }}</small></p>
                    <p>{{ noticia.contenido|truncatewords:20 }}</p>
                    <a href="{% url 'noticias:detalle_noticia' noticia.id %}">Leer más</a>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

